<!DOCTYPE html>
<html>
<head>
    <title>node</title>
</head>
<body>
    <p id="text">jquery get data</p>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
     <script>
        function get(){
            $.ajax({
                type:'get',
                url: 'localhost: 8081/show/',
                success:function(data){
                    $('#text').html(data.data)
                },
                error:function(err){
                 console.log(err);
                }
            })
        }
    </script>
    <input type="hidden" id="dat3" value="3">
    <button onClick="get()">jquery get data</button>
</body>
</html>